h2{
    color:orangered;
    font-style: italic;
}

li{
    color: gray;
    padding-top: 3px;
    font-size: 15px;
}

.mensaje{
    border: 4px solid;
    padding: 10px;
    font-size: 30px;
    background-color: grey;
    color: rgb(159, 247, 139);
    
}